* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2563eb;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#loadUsersBtn {
  background: #2563eb;
  color: white;
  margin-bottom: 15px;
}

.edit-btn {
  background: orange;
  color: white;
}

.delete-btn {
  background: red;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

thead {
  background: #2563eb;
  color: white;
}